{% extends 'app/base.html' %}
{% block content %}
	{% include 'app/nav.html' %}
	{% if companies %}
		<ul class="list-group">
			{% for company in companies %}
				<li class="list-group-item">
					{{ company.name }}
					<a href="{% url 'edit_company' company.pk %}" class="btn btn-primary">Editar</a>
					 <form action="{% url 'delete_company' company.pk %}" method="POST" style="display: inline;">
					 	{% csrf_token %}
						<input class="btn btn-danger" type="submit" value="Remover">
					</form>
				</li>
			{% endfor %}
		</ul>
	{% else %}
		<div class="alert alert-primary">
			Não existem empresas cadastradas.
		</div>
	{% endif %}
{% endblock %}